.listCards{
    width: 80%;
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(200px, max-content) repeat(auto-fill, 200px);
    grid-gap: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.card{
    margin-top: 20px;
    width: 200px;
    height: 370px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #095169;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card:hover{
    cursor: pointer;
    opacity: 0.9;
}

.card img{
    border-bottom-right-radius: 20px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.card h3{
    width: 150px;
    color: #f4f4f4;
    text-align: center;
    margin-bottom: 10px;
}

.btnDetalles{
    width: 200px;
    margin: auto;
    height: 30px;
    border-style: none;
    background-color: #53ba83;
    color: #f4f4f4;
    font-size: 17px;
    letter-spacing: 2px;
    border-radius: 5px;
}

@media only screen and (max-width: 480px){
    .listCards{
      grid-template-columns:minmax(200px, max-content);
    }
}