.categoryAll{
    width: 100%;
    color: #325973;
}

.titleCate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.arrowDownCate{
    margin-right: 20px;
    cursor: pointer;
}

.arrowDownCate:hover{
    opacity: 0.8;
}

.categoryAll h2{
    font-size: 30px;
    margin-left: 10px;
    font-weight: 500;
    margin-top: 10px;
}

.categoryAll::after{
    content: "";
    display: flex;
    width: 100%;
    background-color: #325973;
    height: 7px;
    border-radius: 16px;
}

.listCategory{
    margin-top: 10px;
    width: 100%;
}

.listCategory ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.listCategory ul li{
    width: 100%;
    padding: 10px;
    font-size: 19px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #e0e0e0;
    border-radius: 10px;
}

.listCategory ul li:hover{
    cursor: pointer;
    background: #d8d8d8;
}

.none{
    display: none;
}
.flex{
    display: flex;
}

@media only screen and (max-width: 730px){
    .arrowDownCate{
        display: flex;
    }
    .category{
        min-height: auto;
    }
}   