.popularBooks{
    width: 100%;
    height: 100%;
    background-color: #f6f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popularBooks>h2{
    text-align: center;
    width: 100%;
    color: #325973;
    font-size: 40px;
    margin-top: 30px;
}

@media only screen and (max-width: 680px){
    .popularBooks>h2{
        text-align: center;
    }
    
}